<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="{% url 'home' %}">WSED</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="{% url 'xss_app:index' %}">XSS Tutorial</a>
      <a class="nav-item nav-link disabled" href="#">CSRF Tutorial</a>
      <a class="nav-item nav-link disabled" href="#">SQL Injection Tutorial</a>
    </div>
    <div class="navbar-nav">
        {% if user.is_authenticated %}
            <span class="navbar-text">Logged in as {{ user.username }}</span>
            <form action="{% url 'logout' %}" method="post" class="form-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-link nav-item nav-link">Logout</button>
            </form>
        {% else %}
            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
  </div>
</nav>