{% extends "xss_app/../base.html" %}

{% block title %} Login {% endblock %}

{% block content %}
    <h2>Login</h2>
    {% if user.is_authenticated %}
        <h4>{{ user.username }} is already logged in!</h4>
        <h4>Logout first to log in as another user!</h4>
    {% else %}
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input name="username" type="text" class="form-control" id="username" placeholder="stofy">
              </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input name="password" type="password" class="form-control" id="password" placeholder="not123456">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <br>
        <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
    {% endif %}
{% endblock %}