{% extends "xss_app/../base.html" %}

{% block title %} XSS Tutorial Home {% endblock %}

{% block content_nav %}
    <div id="sidenav" class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action" href="#intro" role="navigation" >Intro</a>
      <a class="list-group-item list-group-item-action" href="#search" role="navigation" >Search</a>
      <a class="list-group-item list-group-item-action" href="#blogposts" role="navigation" >Blog Posts</a>
      <a class="list-group-item list-group-item-action" href="#createnew" role="navigation" >Create</a>
    </div>
{% endblock %}

{% block content %}

    <div id="intro" class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-5">Cross-Site Scripting (XSS)</h1>
            <p class="lead">Cross Site Scripting (XSS) is a type of security vulnerability typically found in web applications. This flaw allows attackers to inject malicious scripts into web pages viewed by other users. XSS attacks occur when an application includes untrusted data in a web page without proper validation or escaping, thereby enabling attackers to execute scripts in the victim's browser. Such scripts can access any cookies, session tokens, or other sensitive information retained by the browser and used with that site, potentially leading to identity theft or other malicious activities. XSS vulnerabilities can be exploited by crafting malicious links, form inputs, or URL parameters, and they are mitigated through proper data sanitization, validation, and the use of secure coding practices.</p>
        </div>
    </div>

    <div id="search">
        <h4>Search</h4>
        <form action="{% url 'xss_app:search' %}" method="get">
            <div class="form-group">
                <label for="searchBar">Search for a blog post</label>
                <input name="q" type="text" class="form-control" id="searchBar" aria-describedby="searchHelp" placeholder="Search...">
                <small id="searchHelp" class="form-text text-muted">Input a headline name</small>
            </div>
        </form>
    </div>

    <div id="blogposts">
        {% if blog_post_list %}
            <div class="list-group">
                <h4>Blog Posts</h4>
                {% for blog_post in blog_post_list %}
                    <a href="{% url 'xss_app:detail' blog_post.id %}" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">{{ blog_post.headline }}</h5>
                          <small class="text-muted">Posted on: {{ blog_post.pub_date }}</small>
                        </div>
                        <p class="mb-1">{{ blog_post.blog_post_text }}</p>
                        <small class="text-muted">By: {{ blog_post.author }}</small>
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <p>No blog posts are available.</p>
        {% endif %}
    </div>

    <br>

    <div id="createnew">
        <h4>Create New Blog Post</h4>
        <form action="{% url 'xss_app:create' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="headline">Headline</label>
                <input name="headline" type="text" class="form-control" id="headline" aria-describedby="headlineHelp" placeholder="Summarize your thoughts">
                <small id="headlineHelp" class="form-text text-muted">Name your post here</small>
              </div>
            <div class="form-group">
                <label for="bpt">Content</label>
                <textarea name="blog_post_text" class="form-control" id="bpt" placeholder="What do you want to say?" rows="4"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>

    <br>
{% endblock %}
