{% extends "xss_app/../base.html" %}

{% block title %} XSS Tutorial Home {% endblock %}

{% block content_nav %}
    <div id="sidenav" class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action" href="#top" role="navigation" >Top of page</a>
      <a class="list-group-item list-group-item-action" href="#introduction" role="navigation" >Introduction</a>
      <a class="list-group-item list-group-item-action" href="#typesOfXSS" role="navigation" >XSS types</a>
      <a class="list-group-item list-group-item-action" href="#ingredients" role="navigation" >Carrying out XSS</a>
      <a class="list-group-item list-group-item-action" href="#search" role="navigation" >Search</a>
      <a class="list-group-item list-group-item-action" href="#blogposts" role="navigation" >Blog Posts</a>
      <a class="list-group-item list-group-item-action" href="#createnew" role="navigation" >Create</a>
    </div>
{% endblock %}

{% block content %}

    <div id="top" class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-5">Cross-Site Scripting (XSS)</h1>
            <p class="lead">
                Cross Site Scripting (XSS) is a type of security vulnerability typically found in web
                applications. This flaw allows attackers to <b>inject malicious scripts</b> into web pages viewed by
                other users. XSS attacks occur when an application includes untrusted data in a web page without proper
                validation or escaping, thereby enabling attackers to execute scripts in the victim's browser. Such
                scripts can access any cookies, session tokens, or other sensitive information retained by the browser
                and used with that site, potentially leading to identity theft or other malicious activities. XSS
                vulnerabilities can be exploited by crafting malicious links, form inputs, or URL parameters, and they
                are mitigated through proper data sanitization, validation, and the use of secure coding practices.
            </p>
        </div>
    </div>

    <div id="introduction">
        <h2>Introduction</h2>
        <p>
            This tool is going to guide you through carrying out two of the most common XSS attacks and how to defend
            against them, even if you have no prior practical experience with these attacks. There will be three
            exercises for you to complete, with hints and solutions available if needed. Let's get started!
        </p>
    </div>

    <div id="typesOfXSS">
        <h2>Types of XSS attacks</h2>
        <p>
            There are two most common XSS attacks: <b>Reflected</b> and <b>Stored</b>. Both of these attacks target
            the user's of the web application, exploiting their trust in the web application. The attackers try to
            inject the web application with a malicious script, be it JavaScript, HTML Flash, PHP, or other type of code
            that can execute in a victim's browser, and use it to steal cookies, session tokens, sensitive
            information the browser stores, or deface the web page and even redirect the user to malicious sites.
            The main difference between these attacks is <b>how</b> the injection occurs.
        </p>
        <br>
        <h4>Reflected XSS</h4>
        <p>
            In Reflected XSS attack the attacker injects
            malicious script into a webpage through user's request (like in a
            search form or URL parameter) and includes it directly in its response without proper validation or
            encoding, which is then immediately reflected back to the user and executed by their
            web browser. The malicious script, embedded in a crafted request (often a URL), is 'reflected' back to the
            user's browser, where it executes in the context of the user's session. Unlike Stored XSS, which persists in
            the web application, Reflected XSS is non-persistent
            and requires a user to actively trigger the attack, often through clicking on a link or a misleading email.
            While it requires more direct interaction with the target user, Reflected XSS is still a dangerous and
            common form of web application vulnerability due to its potential for immediate impact and its relative ease
            of execution.
        </p>
        <br>
        <h4>Stored XSS</h4>
        <p>
            In Stored XSS attack the attacker injects malicious scripts into a web application’s database.
            This typically happens through input forms or any other data submission points that accept user-generated
            content and store it. The malicious script, once stored,
            is then served as part of the web application's content to other users. When these users access the
            compromised page, the malicious script executes in their browsers. Unlike other forms of XSS, stored XSS
            does not require a victim to click on a link; it automatically executes when the compromised page is loaded.
            Due to its persistent nature and potential for widespread impact on users, stored XSS is often considered more
            severe than other types of XSS attacks.
        </p>
        <br>
        <p>
            Now that you know the two most common types of XSS attacks, we will look into what do we need in order to
            carry out an actual attack. If you want to learn more about these or other less common attacks, checkout the
            official OWASP website: <a href="https://owasp.org/www-community/attacks/xss/">XSS Attacks</a>
        </p>
        <br>
    </div>

    <div id="ingredients">
        <h2>How to carry out XSS attacks</h2>
        <p>In order to carry out XSS attacks, we need to complete these steps:</p>
        <ol>
            <li>
                First of all we need to ask ourselves - what is our goal? Are we trying to steal personal information?
                Are we trying to steal session cookies and conduct <b>session hijacking</b>? Or are we hacktivists trying
                to draw attention to something?
            </li>
            <br>
            <li>
                Once we know our goal, we need to conduct reconnaisance of the application. This includes inspecting the
                application to see what types of cookies it stores, as well as understanding the structure of the front
                end. Furthermore, recall that the malicious content is injected through a user <b>input</b> and executed
                when the browser renders the <b>output</b>. This means we have to figure out if and where is the
                web application vulnerable by testing out different locations of inputs and outputs.
            </li>
            <br>
            <li>
                After figuring out <b>what</b> do we want to achieve and <b>where</b> is the vulnerability, we need to
                craft our malicious script accordingly and inject it.
            </li>
        </ol>
        <br>
        <p>
            This web application is used for creating, displaying and searching for blog posts made by users. This web
            application is quite vulnerable and you will exploit these vulnerabilities through three exercises.
        </p>
    </div>

    <div id="search">
        <h4>Search</h4>
        <form action="{% url 'xss_app:search' %}" method="get">
            <div class="form-group">
                <label for="searchBar">Search for a blog post</label>
                <input name="q" type="text" class="form-control" id="searchBar" aria-describedby="searchHelp" placeholder="Search...">
                <small id="searchHelp" class="form-text text-muted">Input a part of headline name</small>
            </div>
        </form>
    </div>

    <div id="blogposts">
        {% if blog_post_list %}
            <div class="list-group">
                <h4>Blog Posts</h4>
                {% for blog_post in blog_post_list %}
                    <a href="{% url 'xss_app:detail' blog_post.id %}" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">{{ blog_post.headline }}</h5>
                          <small class="text-muted">Posted on: {{ blog_post.pub_date }}</small>
                        </div>
                        <p class="mb-1">{{ blog_post.blog_post_text }}</p>
                        <small class="text-muted">By: {{ blog_post.author }}</small>
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <p>No blog posts are available.</p>
        {% endif %}
    </div>

    <br>

    <div id="createnew">
        <h4>Create New Blog Post</h4>
        <form action="{% url 'xss_app:create' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="headline">Headline</label>
                <input name="headline" type="text" class="form-control" id="headline" aria-describedby="headlineHelp" placeholder="Summarize your thoughts">
                <small id="headlineHelp" class="form-text text-muted">Name your post here</small>
              </div>
            <div class="form-group">
                <label for="bpt">Content</label>
                <textarea name="blog_post_text" class="form-control" id="bpt" placeholder="What do you want to say?" rows="4"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>

    <br>
{% endblock %}
