{% extends "xss_app/../base.html" %}

{% block title %} Search Results {% endblock %}

{% block content %}
    <div class="list-group">
        {% if object_list %}
            <h1>Search Results</h1>
            <h4>You searched for: </h4><p>{% autoescape off %} {{ search_query }} {% endautoescape %}</p>
            {% for blog_post in object_list %}
                <a href="{% url 'xss_app:detail' blog_post.id %}" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">{{ blog_post.headline }}</h5>
                      <small class="text-muted">{{ blog_post.pub_date }}</small>
                    </div>
                    <p class="mb-1">{{ blog_post.blog_post_text }}</p>
                    <small class="text-muted">By: {{ blog_post.author }}</small>
                </a>
            {% endfor %}
        {% else %}
            <h1>No results found!</h1>
            <h4>You searched for: </h4><p>{% autoescape off %} {{ search_query }} {% endautoescape %}</p>
        {% endif %}
        </div>
{% endblock %}